<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"
	default-init-method="init" default-destroy-method="destroy">

	<bean id="student" class="com.spring.test.Student" init-method="init"
		destroy-method="destroy" lazy-init="true">
		<property name="name" value="a student has no name" />
	</bean>

	<bean id="teacher" class="com.spring.test.Teacher" init-method="init"
		destroy-method="destroy" lazy-init="true">
		<property name="name" value="a teacher has no name" />
	</bean>

</beans>